{% extends 'base.html' %}
{% block title %}Barkbook!{% endblock %}

{% block content %}


  <div class="row" id="available_pets">
    <div class="col-md-6 col-md-offset-3" align="center">
      <h2>Available Pets</h2>
    </div> <!-- close col --> 
  </div> <!-- close row -->

  {% set count = 0 %}
    {% if count % 3 == 0 %}
      <div id="available_pictures" class="row">
      {% for pet in adoption_recs %}
        <div class="col-md-4" align="center">
          <a href="/pets/{{ pet.pet_id }}">
            <img class="profile_pics" src="{{ pet.pet.picture }}" alt="{{ pet.pet.name }}">
          </a><br>
          <h3>{{ pet.pet.name }}</h3>
          <br><br>
        </div>
        {% set count = count + 1 %}
      {% endfor %}
      </div>
    {% endif %}

{% endblock %}
