<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Open+Sans" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Barkbook</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if session != {} %}
      <li><a href="/user_frontpage"><span class="glyphicon glyphicon-user"></span> Homepage</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <ul>
        {% for message in get_flashed_messages() %}
          <br>
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% block content %}BODY CONTENT GOES HERE{% endblock %}

  <br><br><br>

    <!-- <footer>  
      <div id="base_footer" class="row">
        <div class="col-sm-4">
          {% if session != {} %}
          <p><a class="btn btn-default" href="/user_frontpage" role="button">Back to homepage</a><br>
          <a class="btn btn-default" href="/logout" role="button">Logout</a></p>
          {% else %}
          <p><a class="btn btn-default" href="/" role="button">Back to homepage</a><br>
          <a class="btn btn-default" href="/" role="button">Login</a></p>
          {% endif %}
        </div>
      </div>
    </footer> -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>