<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- Put CSS here -->
</head>


<body>
  <!-- Will be orange -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img id="logo" alt="Brand" src="...">
        </a>
     </div>
    </div>
  </nav>

  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  
  {% block content %}BODY CONTENT GOES HERE{% endblock %}

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>