<!-- Add proper form formatting from bootstrap -->

{% extends 'base.html' %}
{% block title %}Create pet profile{% endblock %}
{% block content %}
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-push-8">
        <form action="/pet_profile" method="POST">
          <a class="btn btn-default" href="/user_profile" role="button">Skip</a>
          Pet name 
          <input type="text" name="name" required><br><br>
          <input type="radio" name="species" value="dog" checked> Dog
          <input type="radio" name="species" value="cat"> Cat <br><br>
          <!-- Get the checked button and send that to database -->
          Estimated age  
          <input type="number" name="age"><br><br>
          Breed 
          <input type="text" name="breed"><br><br>
          Gender
          <input type="radio" name="gender" value="male" checked> Male
          <input type="radio" name="gender" value="female"> Female<br><br>
          Details
          <input type="text" name="details" 
          placeholder="Tell us more about your best friend!"><br><br>
          Is this pet up for adoption? 
          <input type="radio" name="adoptable" value="yes" checked> Yes
          <input type="radio" name="adoptable" value="no"> No<br><br>
          <input type="reset" value="Start over">
          <input type="submit" value="Create now!">

          <!-- Button to skip creating the pet profile and take user to their profile/frontpage -->
        </form>
      </div>
    </div>
  </div>

{% endblock %}