{% extends 'base.html' %}
{% block title %}Barkbook!{% endblock %}

{% block content %}

  <!-- Query pets database and list the pets that belong to the user in session -->


  {% set count = 0 %}
    {% if count % 3 == 0 %}
      <div class="row">
      {% for item in likes %}
        <div id="interested_user" class="col-md-4" align="center">
          <li>
            {{ item.user.first_name }} {{ item.user.last_name }}
            <br>
            {{ item.user.email }}
            <br>
            {{ item.user.phone }} 
            <br>
          </li>
        </div>
      {% endfor %}
      </div>
    {% endif %}

{% endblock %}