<!-- Add proper form formatting from bootstrap -->

{% extends 'base.html' %}
{% block title %}Create your profile!{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-push-8">
        <form action="/register" method="POST">
          First name: 
          <input type="text" name="first_name" required><br><br>
          Last name:
          <input type="text" name="last_name" required><br><br>
          E-mail address: 
          <input type="email" name="email" required><br><br>
          Password: 
          <input type="password" name="password" required=""><br>
          Must be 6 to 12 characters long and contain letters and numbers<br><br> <!-- Make it appear only when you click on the field to type. Make font smaller size-->
          Zipcode:
          <input type="text" name="zipcode" required><br><br>
          City:
          <input type="text" name="city" required><br><br>
          State:
          <input list="states" name="state" required>
            <datalist id="states">
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </datalist><br><br>
          <!-- <input type="text" name="state" required><br><br> -->
          Phone number:
          <input type="tel" name="phone"><br><br>
          Date of birth:
          <input type="date" name="dob"><br><br>
          <!-- Profile picture:  
              I need a way to allow my user to upload their picture to the profile. I know I want to save the address to that picture in my database. Where would it stay stored and -->
          <input type="reset" value="Start over">
          <input type="submit" value="Create now!">
        </form>
      </div>
    </div>
  </div>

{% endblock %}