<!-- Add proper form formatting from bootstrap -->

{% extends 'base.html' %}
{% block title %}Create your profile!{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-push-8">
        <form action="/register" method="POST">
          First name: 
          <input type="text" name="first_name" required><br><br>
          Last name:
          <input type="text" name="last_name" required><br><br>
          E-mail address: 
          <input type="email" name="email" required><br><br>
          Password: 
          <input type="password" name="password" required=""><br>
          Must be 6 to 12 characters long and contain letters and numbers<br><br> <!-- Make it appear only when you click on the field to type. Make font smaller size-->
          Zipcode:
          <input type="text" name="zipcode" required><br><br>
          City:
          <input type="text" name="city" required><br><br>
          Phone number:
          <input type="tel" name="phone"><br><br>
          Date of birth:
          <input type="date" name="dob"><br><br>
          <!-- Profile picture:  
              I need a way to allow my user to upload their picture to the profile. I know I want to save the address to that picture in my database. Where would it stay stored and -->
          <input type="reset" value="Start over">
          <input type="submit" value="Create now!">
        </form>
      </div>
    </div>
  </div>

{% endblock %}