{% extends 'base.html' %}
{% block title %}Barkbook!{% endblock %}


{% block content %}
  
  <div class="row" id="interest_title">
    <div class="col-md-6 col-md-offset-3" align="center">
      <h2>Interests</h2>
    </div> <!-- close col --> 
  </div> <!-- close row -->
  {% if my_interests %}
    <ul>
    {% set count = 0 %}
      {% if count % 3 == 0 %}
        <div class="row">
        {% for pet in my_interests %}
          <div class="col-md-4" align="center">
            <a href="/pets/{{ pet.adoption.pet.pet_id }}">
              <img class="profile_pics" src="{{ pet.adoption.pet.picture }}" alt="{{ pet.name }}">
          </a><br>
          <h3>{{ pet.adoption.pet.name }}</h3>
          <br><br>
          </div>
          {% set count = count + 1 %}
        {% endfor %}
        </div>
      {% endif %}
  {% else %}
    <h4>You haven't shown interest in any pets yet</h4>
  {% endif %}

{% endblock %}