{% extends 'base.html' %}
{% block title %}Barkbook!{% endblock %}


{% block content %}

<!-- First page the user comes accross after creating an account. Give the user options. -->
  <div class="container-fluid">
    <div id="menu" class="row">
      <div class="col-sm-5">
        <h1>Hello, {{ user.first_name }}!</h1>
        <a href="/search_pets">See available pets</a><br>

        <a href="/create_pet_profile">Create a pet profile</a><br> 
      
        <a href="/users/pets_list">See / edit my pets</a><br> 

        <a href="/see_my_interests">See pets I am interested in</a><br>
      </div>
    </div>
  </div>




{% endblock %}