body {

  background-size: cover;
  background: url("/static/pictures/background.jpg") no-repeat center center;
  font-family: 'Love Ya Like A Sister', cursive;
  color:#2A0054;
}

h1 {

    font-size:60px;
}

#login {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-top: 0px;
    background: rgba(132, 117, 102, 0.7);
}