#logo {

  width:40px;
  height:40px;
  margin:0;

}

#menu {
  background: rgba(132, 117, 102, 0.75);
  text-align: center;
}

#description {

  font-weight:700;
  padding-right: 130px;
  padding-left: 130px;
  text-align: center;

}

body {
  margin-left:60px;
  margin-right:60px;
  margin-bottom:60px;
  background-size: cover;
  background: url("/static/pictures/background.jpg") no-repeat center center;
  font-family: 'Love Ya Like A Sister', cursive;
  color:#2A0054;
}

.btn {

  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: 500;
  color:#2A0054;

}

#base_footer {

  font-size: 14px;

}

h1 {
    text-align: center;
    font-size:60px;
}

#login {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-top: 0px;
    background: rgba(132, 117, 102, 0.75);
}

#search_buttons {
  padding-bottom:85px ;
  padding-top:85px;
  background: rgba(132, 117, 102, 0.75);
} 

.profile_pics {
  height:400px ;
}

#available_pictures {
  padding-top:50px;
}

#create_pet {
  background: rgba(132, 117, 102, 0.75);
  padding: 40px;
  font-size: 18px;
}

#pet_profile {
  background: rgba(132, 117, 102, 0.75);
  padding: 50px;
}

#pet_buttons {
  padding-top:100px;
}

#interested_user {
  background: rgba(132, 117, 102, 0.75);
  padding: 50px;
  font-size: 18px;
}